<div  class="container">
  <% if @errors %>
    <%= render(partial: 'partials/errors')%>
  <% end %>

  <%= link_to('Post a new strory', new_story_path)%>
  <section>
    <% @stories.each do |story| %>
      <article>
        <h6><%= story.title%></h6>
        <%= link_to("Show page", story)%>
      </article>
    <% end %>
  </section>
</div>
