<div  class="container">
  <% if @errors %>
    <%= render(partial: 'partials/errors')%>
  <% end %>

  <section class='col-md-12'>
    <% @stories.each do |story| %>
      <article class="one-story">
        <h6><%= story.title%></h6>
        <small><%= link_to("Show page", story) %></small>
      </article>
    <% end %>
  </section>
</div>
