<div  class="container">
  <% if @errors %>
    <%= render(partial: 'partials/errors')%>
  <% end %>

  <%= link_to('Post a new strory', new_story_path)%>
  <ul>
    <% @stories.each do |story| %>
      <li><%= story.title%></li>
      <%= link_to("Show page", story)%>
    <% end %>
  </ul>
</div>
